* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    align-items: center;
    position: relative;
}

.menu_container {
    display: flex;
    align-items: center;
}

.menu_icon {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 11px;
    height: 2px;
    background-color: gray;
    margin: 3px;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: gray;
    width: 11px;
}

.change .bar2 {
    opacity: 0;
    background-color: gray;
    width: 11px;
}

.change .bar3 {
    transform: rotate(45deg) translate(-6px, -7px);
    background-color: gray;
    width: 11px;
}

.menu_content {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #389CD6;
    z-index: 1;
    position: absolute;
    top: 70px;
    right: 0px;
}

.list_menu_content {
    background-color: #389CD6;
    margin-top: 30px;
    padding-left: 40px;
}

.menu_content li {
    margin-bottom: 20px;
    list-style: none;
}

.menu_content a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    display: block;
    transform: 0.3s;
}

.menu_container a:hover {
    text-decoration: none;
    color: #ffffff;
}

 /* .menu_icon, .icon_search {
    width: 24px !important;
    height: 24px !important;
    cursor: pointer;
    color: #666161 !important;
}

.icon_search {
    cursor: none;
}  */

#main_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 18px;
}

.title_content {
    font-weight: bold;
    font-size: 31px;
    color: #389CD6;
    margin-bottom: 40px;
    margin-top: 40px;
}

.text_content{
    font-size: 16px;
    color: #7B7070;
    padding-bottom: 15px;
}

.img_carousel {
    width: 356px;
    height: 351px;
}

.img_carousel_discoveries {
    width: 356px;
    height: 232px;
}

.text_discoveries, .text_carousel {
    color: #7B7070;
    font-size: 20px;
}

.bt_see {
    width: 90%;
    height: 64px;
    background-color: #389CD6;
    border-radius: 16px;
    color: #ffffff;
    border: none;
    margin-top: 40px;
    margin-bottom: 80px;
}

.footer_container {
    height: 766px;
}

.menu_footer {
    background-color: #389CD6;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.border_footer {
    width: 25px;
    color: #ffffff;
}

.name_footer {
    font-size: 30px;
    font-weight: bold;
}